/* Standard */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none !important;
}


/* Header / Navbar */

header {
  background: linear-gradient(45deg, hsl(208, 72%, 24%), hsl(237, 50%, 20%) 33%);
  height: 4rem;
  max-height: 4rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  display: flex;
  flex: 1 0 33.33%;
}

/* Header Left */

header .left {
  height: 100%;
  order: -10;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

header a.logo {
  display: block;
  height: 100%;
  width: fit-content;

  padding: 0.33rem 0.5rem;
  align-self: flex-start;
}

header a img {
  height: 100%;
  width: auto;
}

/* Header NavTab */
/* Source: https://copy-paste-css.com/ */
header .navTab {
  text-decoration: none;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  flex: 0 0 15%;

  outline: 0;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  height: 66.66%;
  padding: 0px 15px;
  text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  transition: all 0.5s ease 0s;
}

header .navTab:hover {
  cursor: pointer;
  box-shadow: rgb(80 63 205 / 50%) 0px 1px 40px;
  transition: all 0.1s ease 0s;
}

header .navTab p {
  display: block;
  margin: 0;
}

/* Header Center */

header .center {
  justify-content: space-between;
  gap: 0.5rem;
  height: 100%;
}

header form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}

/* Source: https://copy-paste-css.com/form-input-text */
header #search {
  display: block;

  flex: 4;

  padding: 6px 12px;
  background: rgb(31, 32, 35);
  border: 1px solid rgb(60, 63, 68);
  border-radius: 4px;
  font-size: 13px;
  color: rgb(247, 248, 248);
  height: 66.66%;
  appearance: none;
  transition: border 0.15s ease 0s;
}

header #search:focus {
  outline: none;
  border-color: rgb(100, 153, 255);
  box-shadow: rgb(80 63 205 / 50%) 0px 1px 40px;
  transition: all 0.1s ease 0s;
}

header #search:hover {
  box-shadow: rgb(80 63 205 / 50%) 0px 1px 40px;
  transition: all 0.1s ease 0s;
}

/* Source: https://copy-paste-css.com/ */
#searchButton {
  flex: 1;

  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  height: 66.66%;
  padding: 0px 15px;
  text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  transition: all 0.5s ease 0s;
}

header #searchButton:hover {
  cursor: pointer;
  box-shadow: rgb(80 63 205 / 50%) 0px 1px 40px;
  transition: all 0.1s ease 0s;
}

/* Header / Navbar Right */

header .right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
}


header .right #preferencesButton {
  flex: 0 0 5%;

  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  height: 66.66%;
  padding: 0.5rem;
  text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  transition: all 0.5s ease 0s;
}

header .right #preferencesButton:hover {
cursor: pointer;
  box-shadow: rgb(80 63 205 / 50%) 0px 1px 40px;
  transition: all 0.1s ease 0s;
}

header .right #preferencesButton img {
  display: block;
  width: 100%;
  height: 100%;
  transition-duration: .3s;
}


/* Footer */

footer {
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
  margin-top: 1em;

  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: 1.5rem;
}

footer hr {
  margin: 0;
  width: 100%;
  border: none;
  height: 1px;
  background-color: #fff;
  filter: drop-shadow(-2px 2px 5px #00061c);
}

footer p {
  margin: 0;
}

footer .JustWatchSource {
  margin: 0;
  color: hsl(0, 0%, 33%);
}

/* Pagination */

footer #pagination {
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.66rem;
}

footer li {
  display: block;
  height: auto;
  width: auto;
}

footer button {
  display: block;
  height: 2.5em;
  width: 3em;
  font-size: 1.25rem;
  text-align: center;


  /* Source: https://copy-paste-css.com/ */
  outline: 0;
  border: 0;
  cursor: pointer;
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  color: #FFFFFF;
  border-radius: 8px;
  padding: 0.75rem 0;
  transition: transform 200ms, background 200ms;
}

/* Source: https://copy-paste-css.com/ */
footer button:hover {
  cursor: pointer;
  transform: translateY(-0.33rem);
}

footer button:disabled:not(.paginationButton) {
  mix-blend-mode: overlay;
}

footer button:disabled:hover {
  cursor: default;
  transform: none;
}

footer button.activePage {
  background: linear-gradient(45deg, #4AE3B5, #268D94 75%);
  mix-blend-mode: normal;
}


/* Preferences */

#app dialog {
  background-color: #242424;
  border: none;
  border-radius: 1rem;
  height: 66.66%;
  width: 33.33%;

  padding: 4em;
}

#app dialog form {
  height: 100%;
  width: 100%;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1em;
}

#app dialog form > label {
  align-self: flex-start;
  position: relative;
  bottom: -1em;
}

/* Streaming Platforms */
/* Source: https://www.sitelint.com/blog/how-to-implement-multiple-selection-with-check-boxes-in-an-html-without-external-libraries */
#app dialog form details {
  border: 1px solid #767676;
  border-radius: 3px;
  display: inline-flex;
  flex-direction: column;
  padding: 3px 6px;
  text-align: start;

  cursor: default;
}

#app dialog form details:hover {
  background-color: #FFFFFF11;
}

#app dialog form details[open] {
  padding-bottom: 0.5em;
}

#app dialog form details[open]:hover {
  background-color: transparent;
}

#app dialog form details div:hover {
  background-color: #FFFFFF11;
}

#app dialog form details summary::marker {
  display: none;
  font-size: 0;
}

#app dialog form details summary::-webkit-details-marker {
  display: none;
  font-size: 0;
}

#app dialog form details summary::after {
  content: "\25BC" / "";
  display: inline-block;
  font-size: 0.6rem;
  height: 1rem;
  line-height: 1rem;
  margin-left: 0.5rem;
  position: relative;
  transition: transform 0.25s;
}

#app dialog form details[open] summary {
  margin-bottom: 1rem;
}

#app dialog form details[open] summary::after {
  top: -0.15rem;
  transform: rotate(180deg);
}

#app dialog form fieldset {
  border: 0;
  padding: 0;
  width: 100%;

  display: flex;
  gap: 0.5em;
  flex-direction: column;
}

#app dialog form fieldset legend {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

#app dialog form fieldset div {
  display:flex;
}

#app dialog form fieldset label {
  display: block;
  flex: 0 1 100%;
}


#app dialog form > * {
  margin: 0;
  display: block;
  flex: 0 1 2em;
}

#app dialog form #confirmButtons {
 flex: 0 0 2.5em;

  margin-top: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 6.66em;
}

#app dialog form #confirmButtons * {
  flex: 1 1 25%;

  display: block;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  height: 100%;
  padding: 0px 15px;
  text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  transition: all 0.5s ease 0s;

}

#app dialog form #confirmButtons *:hover {
  box-shadow: rgb(80 63 205 / 50%) 0px 1px 40px;
  transition: all 0.1s ease 0s;
}


/* Movie Gallery */

#movieList {
  margin: 0 auto;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  gap: 2rem;
}


/* Movie Posters */

.movie {
  flex: 1 0 16%;
  min-width: 15rem;
  max-width: 20%;
  padding: 0;
  margin: 0;
  background: transparent;
  will-change: filter;
  transition: 300ms;
  overflow: hidden;
  text-align: center;
  object-fit: contain;
  color: #FFF;

  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 500 / 750;
}

.movie:hover {
  filter: drop-shadow(0 0 2em #1F51FF);
  background: linear-gradient(45deg, #268D94 33%, #6C4AB6)
}


/* Movie Gallery */

#movieList {
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  gap: 2rem;
}


/* Movie Posters */

.movie {
  flex: 1 0 16%;
  min-width: 20rem;
  max-width: 25%;
  padding: 0;
  margin: 0;
  background: transparent;
  will-change: filter;
  transition: 300ms;
  overflow: hidden;
  text-align: center;
  object-fit: contain;

  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 500 / 750;
}

.movie:hover {
  filter: drop-shadow(0 0 2em #1F51FF);
  background: linear-gradient(45deg, #268D94 33%, #6C4AB6)
}

.movie>img {
  mix-blend-mode: overlay;
  display: block;
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  object-fit: contain;
  position: relative;
}

.movie .imageTextDiv {
  height: 100%;
  width: 100%;
  background-color: #FFFFFF10;

  display: flex;
  align-items: center;
  justify-content: center;
}

.movie .imageText {
  display: block;
  height: fit-content;
  width: 95%;
  margin: 0;
  text-shadow: -2px 2px 5px #00061c;
  text-align: center;
}

/* Movie Title */

.movieTitle {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  padding-right: 10%;

  color: #fff;
  text-align: left;
  text-shadow: -2px 2px 5px #00061c;
}

.movie:hover .movieTitle {
  display: block;
}

/* Movie favorite */

.movie:hover .favorite {
  display: block;
}

.movie .favorite {
  display: none;
  background: none;
  border: none;

  aspect-ratio: 1/1;

  width: 10%;
  height: auto;

  padding: 0;
  margin: 0.5rem;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  background-image: url(../public/bookmark-star.svg);
  background-repeat:no-repeat;
  background-position: center;
  background-size: contain;

  filter: invert(100%);
}

.movie .favorite:hover {
  cursor: pointer;
  background-image: url(../public/bookmark-star-fill.svg);
}

.movie .favorited {
  background-image: url(../public/bookmark-star-fill.svg) !important;
  filter: invert(74%) sepia(64%) saturate(443%) hue-rotate(356deg) brightness(103%) contrast(101%) !important;
}


/* Watch Buttons */
/* Source: https://copy-paste-css.com/ */

/* TODO: fix button-sizes on smaller screens */
.movieCenterDiv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 50%;
  margin-left: 25%;
  display: none;

  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.watchButtons {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  gap: 2rem;
}

.movie:hover .movieCenterDiv, .movie:hover .watchButtons {
  display: flex;
}

.movieCenterDiv h2 {
  margin: 0;
  text-shadow: -2px 2px 5px #00061c;
}

.movieCenterDiv h3 {
  text-shadow: -2px 2px 5px #00061c;
}

.movieCenterDiv hr {
  margin: 0;
  border: none;
  height: 1px;
  background-color: #fff;
  filter: drop-shadow(-2px 2px 5px #00061c);
}

.watchButtonNetflix {
  z-index: 10;

  display: block;

  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 0.66rem;
  color: #fff;
  background-color: hsl(0, 0%, 10%);
  height: 48px;

  text-decoration: none;
}

.watchButtonNetflix:hover {
  transform: scale(1.04);
  background-color: hsl(0, 0%, 20%);
  border-style: none;
}

.watchButtonNetflix img {
  height: 100%;
  width: auto;
}

.watchButtonPrimeVideo {
  z-index: 10;

  display: block;

  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #00061c;
  height: 48px;

  text-decoration: none;
}

.watchButtonPrimeVideo:hover {
  transform: scale(1.04);
  background-color: #000e42;
  border-style: none;
}

.watchButtonPrimeVideo img {
  height: 100%;
  width: auto;
}

.watchButtonDisney {
  z-index: 10;

  display: block;

  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #011c2d;
  height: 48px;

  text-decoration: none;
}

.watchButtonDisney:hover {
  transform: scale(1.04);
  background-color: #65d1d3;
  border-style: none;
}

.watchButtonDisney img {
  will-change: filter;
  transition: filter 300ms;
  height: 100%;
  width: auto;
  filter: invert(1);
}

.watchButtonDisney:hover img {
  filter: invert(0);
}

.watchButtonHBOMax {
  z-index: 10;

  display: block;

  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  color: #fff;
  padding: 0.33rem;
  background-color: #140c1f;
  height: 48px;

  text-decoration: none;
}

.watchButtonHBOMax:hover {
  transform: scale(1.04);
  background-color: #4c00c4;
  border-style: none;
}

.watchButtonHBOMax img {
  height: 100%;
  width: auto;
}


/* Movie Description Button */

/* Source: https://copy-paste-css.com/ */
.details {
  display: none;
  position: absolute;
  z-index: 10;

  bottom: 1rem;
  left: 16.66%;

  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 66.66%;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #1A1D4E;
  height: 48px;

  text-decoration: none;
}

.details:hover {
  transform: scale(1.04);
  background-color: #6C4AB6;
}

.movie:hover .details {
  display: block;
}


/* Movie Description Popup */

.movieDescription {
  position: fixed;
  top: 17vh;
  left: 33.5vw;
  height: 66vh;
  width: 33vw;
  background-color: black;
  z-index: 20;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.exitX {
  position: absolute;
  line-height: 1rem;
  font-size: 1.5rem;
  top: 1rem;
  left: 1rem;
  width: auto;
}

.exitX:hover {
  cursor: pointer;
}


/* Loaders */

.loadingAnimation {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

/* Source: https://css-loaders.com/spinner/ */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #6C4AB6;
  animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}

.loader::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes l15 {
  100% {
    transform: rotate(1turn)
  }
}

/* With text */
/* Source: https://css-loaders.com/classic/ */
/* HTML: <div class="loader"></div> */
.loaderText {
  margin: auto;

  font-weight: bold;
  font-family: monospace;
  display: inline-grid;
  font-size: 30px;
}

.loaderText:before,
.loaderText:after {
  content: "Loading...";
  grid-area: 1/1;
  -webkit-mask-size: 100% 5px, 100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: l35-1 1s infinite;
}

.loaderText:before {
  -webkit-mask-image:
    linear-gradient(#000 0 0),
    linear-gradient(#000 0 0);
}

.loaderText:after {
  -webkit-mask-image:
    linear-gradient(#000 0 0);
  animation:
    l35-1 1s infinite,
    l35-2 .2s infinite cubic-bezier(0.5, 200, 0.5, -200);
}

@keyframes l35-1 {
  0% {
    -webkit-mask-position: 0 20px, 0 0
  }

  20% {
    -webkit-mask-position: 0 8px, 0 0
  }

  40% {
    -webkit-mask-position: 0 100%, 0 0
  }

  60% {
    -webkit-mask-position: 0 3px, 0 0
  }

  80% {
    -webkit-mask-position: 0 15px, 0 0
  }

  100% {
    -webkit-mask-position: 0 0, 0 0
  }
}

@keyframes l35-2 {
  100% {
    transform: translate(0.1px)
  }
}


/* Light Theme */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  footer hr {
    background-color: #000;
  }

  header {
    background: linear-gradient(45deg, hsl(208, 72%, 37%), hsl(237, 50%, 37%) 33%);
  }

  header #search {
    background-color: #FFF;
  }
}