/* Standard */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hidden {
  display: none;
}

/* Light Theme */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}


/* Header / Navbar */

header {
  background-color: #6C4AB6;
  height: 4rem;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
}

header a {
  box-sizing: border-box;
  flex: 1 0 100%;
  width: fit-content;
  padding: 0.5em;
  height: 100%;
}

header img {
  height: 100%;
  width: auto;
}


/* Footer */

footer {
  width: 100vw;
  text-align: center;
  padding-bottom: 1em;
}


/* Movie Gallery */

#movieList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
  align-content: space-between;
  gap: 32px;
}


/* Movie Posters */

.movie {
  flex: 1 0 25rem;
  padding: 0;
  margin: 0;
  background: linear-gradient(45deg, #268D94 33%, #6C4AB6);
}

.movie > img {
  will-change: filter;
  transition: filter 300ms;
}

.movie:hover {
  filter: drop-shadow(0 0 2em #1F51FF);
}

.movie:hover > img {
  mix-blend-mode: overlay;
}

.movie > img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

/* Watch Buttons */

.watchButtons {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 50%;
  margin-left: 25%;
  display: none;

  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  gap: 2rem;
}

.movie:hover .watchButtons {
  display: flex;
}

.watchButtonNetflix {
  z-index: 10;

  display: block;

  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 0.66rem;
  color: #fff;
  background-color: hsl(0, 0%, 10%);
  height: 48px;

  text-decoration: none;
}

.watchButtonNetflix:hover {
  transform: scale(1.04);
  background-color: hsl(0, 0%, 20%);
  border-style: none;
}

.watchButtonNetflix img {
  height: 100%;
  width: auto;
}

.watchButtonPrimeVideo {
  z-index: 10;

  display: block;

  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #00061c;
  height: 48px;

  text-decoration: none;
}

.watchButtonPrimeVideo:hover {
  transform: scale(1.04);
  background-color: #000e42;
  border-style: none;
}

.watchButtonPrimeVideo img {
  height: 100%;
  width: auto;
}

.watchButtonDisney {
  z-index: 10;

  display: block;

  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #011c2d;
  height: 48px;

  text-decoration: none;
}

.watchButtonDisney:hover {
  transform: scale(1.04);
  background-color: #65d1d3;
  border-style: none;
}

.watchButtonDisney img {
  will-change: filter;
  transition: filter 300ms;
  height: 100%;
  width: auto;
  filter: invert(1);
}

.watchButtonDisney:hover img {
  filter: invert(0);
}


/* Movie Description Popup */

.movieDescription {
  position: fixed;
  top: 17vh;
  left: 33.5vw;
  height: 66vh;
  width: 33vw;
  background-color: black;
  z-index: 20;
  padding: 2rem;
}

.exitX {
  position: absolute;
  line-height: 1rem;
  font-size: 1.5rem;
  top: 1rem;
  left: 1rem;
  width: auto;
}

.exitX:hover {
  cursor: pointer;
}